h1 {
  text-align: center;
  font-family: fantasy;
  background-color: yellow;
  padding: 2%;
  margin: 0;
  position: sticky;
}
nav {
  border: thin solid black;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 10px;
  grid-row: 2;
  position: sticky;
}
header,
img {
  width: 100%;
  margin: 0;
  position: sticky;
}

.btn {
  width: 100%;
  height: 60px;
}

.dropdown-menu {
  width: 100%;
}
